<form method="POST" action="?acao=Login&metodo=entrar">
    <div class="form-group row">
        <label class="col-3" for="nome">T</label>
        <input
            type="text"
            name="filme"
            id="id"
            class= "form-control col-9"
            required
        />
    </div>

    <div class="form-group row">
        <label class="col-3" for="nome">Sinopse</label>
        <input
            type="text"
            name="sinopse"
            id="sinopse"
            class= "form-control col-9"
            required
        />
    </div>

    <div class="form-group row">
        <label class="col-3" for="nome">Elenco</label>
        <input
            type="text"
            name="elenco"
            id="elenco"
            class= "form-control col-9"
            required
        />
    </div>

    <div class="form-group row">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>

</form>